# Ignore virtual environments
venv/
.env/

# Ignore ClickHouse data
db/

# Ignore system files
.DS_Store

# Ignore Python caches
__pycache__/
*.pyc


*.log
# .gitignore

# dbt-specific files that should NEVER be committed
target/
logs/
dbt_packages/
profiles.yml
.DS_Store

# Custom Files to Ignore
# 1. Hide the script containing database login details
export_data.py